.form{
    display: flex;
    justify-content: space-around;
    

}
.display {
    display: flex;

}


.h1{
    font-size: 3em ;
    font-family: 'Vidaloka';
    padding: 5px 0 ;
    text-align: center;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;    
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.container{
    margin: 10px;
}

.containerPrincipal{
    min-height: 560px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}


.input{
    max-width: 400px;
    width: 100%;
    height: 35px;
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputArea{
    max-width: 400px;
    width: 100%;
    height: 75px;
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputMenor{
    max-width: 200px;
    width: 100%;
    height: 35px;
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}