.sectionPrincipal{
    max-width: 1440px;
    width: 100%;

}

.section{
    width: 100%;
}

.margim{
    margin: 0 auto;
}

.display {
    display: flex;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.container { 
    width: 250px;
    
}

.card{
    padding: 10px;
}

.containerGeral { 
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    
}

.h1{
    font-size: 3.5em ;
    font-family: 'Vidaloka';
    padding: 5px 0 ;
}
.h2{
    font-size: 2.5em ;
    font-family: 'Vidaloka';
    padding: 5px 0 ;
}

.h2Metas{
    font-size: 2em ;
    font-family: 'Vidaloka';
    padding: 5px 0 ;
}

.h3{
    font-size: 1.5em ;
    font-family: 'Lora';
    padding: 5px 0 ;
}

.p{
    font-family: 'Lora';
    padding: 5px 0;
    font-size: 1.2em;
}

.imagemPorco{
    height: 350px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.imagemComoUsar{
    height: 167px;
    padding: 20px;
}

.imagemPigde4{
    height: auto;
}