body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


footer{
  max-width: 1440px;
  width: 100%;
  background-color: #FFCB7C;
  height: 100%;
  max-height: 68px;
  min-height: 35px;
}

footer p {
  text-align: center;
  vertical-align: middle;
}

a{
  color: #FFCB7C;
}